<h3>Donatello</h3>
<p>Donatello, often shortened to Don or Donnie is a fictional character and one of
  the four main characters of the Teenage Mutant Ninja Turtles comics and all related
  media. He is co-creator Peter Laird's favorite Turtle. In the Mirage/Image Comics,
  all four turtles wear red bandanas, but in other versions he wears a purple bandana.
  His primary signature weapon is his effective bō staff. In all media, he is depicted
  as the smartest and second-in-command of the four turtles. Donnie often speaks in
  technobabble with a natural aptitude for science and technology. He is named after
  the Italian sculptor Donatello.</p>
