<h3>Leonardo</h3>
<img class='image' ng-show='showPic' ng-click='showPic=!showPic' src="images/l.1.gif" alt="raphael">
<img class='image' ng-hide='showPic' ng-click='showPic=!showPic' src="images/l.2.jpg" alt="raphael">
<p>Leonardo, often shortened to Leo, is a fictional character and one of the four
  main characters in Teenage Mutant Ninja Turtles comics and all related media.
  In the Mirage/Image Comics, all four turtles wear red bandanas, but in other
  versions he wears a blue bandana. His signature weapons are two swords. Leonardo
  is the most spiritual, the most disciplined, and the most in-line with Splinter's
  teachings and thoughts, and is generally (and popularly) seen as the leader of
  the Turtles. He is named after Leonardo da Vinci.</p>
