<h3>Michelangelo</h3>
<p>Michelangelo, often shortened to Mike or Mikey, is a fictional character and one
  of the four main characters of the Teenage Mutant Ninja Turtles comics and all related
  media. In the Mirage/Image Comics, all four turtles wear red bandanas, but in other
  versions he wears an orange bandana. His signature weapons are dual nunchaku, though
  he has also been portrayed using other weapons, such as a grappling hook, manriki-gusari,
  tonfa, and a three-section staff (in some action figures).</p>
