  <h3>Raphael</h3>
  <img class='image' ng-show='showPic' ng-click='showPic=!showPic' src="images/r.1.gif" alt="raphael">
  <img class='image' ng-hide='showPic' ng-click='showPic=!showPic' src="images/r.2.jpg" alt="raphael">
  <p>Raphael, often shortened to Raph, is a fictional character and one of the four
    main characters of the Teenage Mutant Ninja Turtles comics and all related media.
    In the Mirage/Image Comics, all four turtles wear red bandanas over their eyes;
    in other versions, Raphael is the only one who retains a red bandana. Raphael
    wields twin sai as his primary weapon. (In the Next Mutation series, his sai stick
    together to make a staff-like weapon.) He is generally the most likely to experience
    extremes of anger or rage, and is usually depicted as being aggressive, sullen,
    maddened, and rebellious. He broke his shell while fighting The Shredder 1 on 1,
    in the 2014 film.
  </p>
